<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.AlquilerLibrosConnectionString"
            connectionString="Data Source=jcc;Initial Catalog=AlquilerLibros;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>